<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lcjian.happyredenvelope">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <uses-permission android:name="android.permission.MANAGE_USERS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.main.SplashActivity"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.main.MainActivity" />
        <activity android:name=".ui.mine.UserLuckCardActivity" />
        <activity android:name=".ui.mine.BuyLuckCardActivity" />
        <activity android:name=".ui.mine.BuyVipActivity" />
        <activity android:name=".ui.mine.ViewHistoriesActivity" />
        <activity android:name=".ui.mine.RedEnvelopeHistoriesActivity" />
        <activity android:name=".ui.mine.SettingsActivity" />
        <activity android:name=".ui.withdrawal.WithdrawalActivity" />
        <activity android:name=".ui.withdrawal.WithdrawalHistoriesActivity" />
        <activity android:name=".ui.search.SearchActivity" />
        <activity android:name=".ui.room.CreateRoomActivity" />
        <activity android:name=".ui.room.RoomActivity" />
        <activity android:name=".ui.room.RoomInfoActivity" />
        <activity android:name=".ui.room.RedEnvelopeSnatchedEmptyActivity" />
        <activity android:name=".ui.room.RedEnvelopeSnatchedSuccessActivity" />
        <activity android:name=".ui.room.RedEnvelopeSnatchedFakeActivity" />
        <activity android:name=".ui.room.RoomLuckBillboardsActivity" />
        <activity android:name=".ui.room.RoomMemberManageActivity" />
        <activity android:name=".ui.room.UserActivity" />
        <activity android:name=".ui.web.WebViewActivity" />

        <meta-data
            android:name="TUIA_APPKEY"
            android:value="4JtqTFPyzESKzNiznbfV6r3qHASN" />
        <meta-data
            android:name="com.lcjian.happyredenvelope.VastPlayerGlideModule"
            android:value="GlideModule" />
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="593e1842bbea831ba40015c4" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Wandoujia" />

        <activity
            android:name="com.lqpinxuan.lqpx.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.lqpinxuan.lqpx.wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" />

        <receiver android:name="com.lqpinxuan.lqpx.wxapi.AppRegister">
            <intent-filter>
                <action android:name="com.tencent.mm.plugin.openapi.Intent.ACTION_REFRESH_WXAPP" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.umeng.socialize.editorpage.ShareActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.UMDefault" />

    </application>

</manifest>